.background {
    background-color: #7FDBFF;
}

.section-grey {
    background-color: #F8F8F8;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.grey-cream {
    background-color: #379683;
}

.silver {
    color: #DDDDDD;
}