.worksans-system {
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
}

.worksans-title {
    font-family: 'Work sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.worksans-supertitle {
    font-family: 'Work sans', sans-serif;
    font-weight: 900;
    font-size: 3em;
}

.worksans-nav {
    font-family: 'Work sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.worksans-subtitle {
    font-family: 'Work sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.worksans-hero {
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
}

.worksans-system-big {
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.major-mono {
    font-family: 'Major Mono Display', monospace;
    font-weight: 400;
    font-size: 4em;
}

.poiret {
    font-family:  'Poiret one', cursive;
    font-weight: 400;
    font-size: 3em;
}