.columns {
    padding-top: 1em;
}

.footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

.overlay {
    opacity: 100%;
}

.overlay-max {
    opacity: 100%;
}

.my-menu {
    margin-left: 1em;
    visibility: collapse;
}

.my-menu a {
    margin-right: 1em;
    color: #FFF;
}
