$font-family-base: 'Open Sans', sans-serif;
@import "../bootstrap/scss/bootstrap.scss";

$font-family: 'Open Sans', sans-serif;
$font-family-brand: 'Abril Fatface', cursive;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// Colors
$color-main: #707070;

body {
    animation: 1s ease-in 0s 1 slideInFromTop;
    overflow-x: hidden;
}

a {
    color: inherit;
}

a:hover {
    color: $color-main;
}

.title {
    font-size: 64px;
}

.navbar {
    position: relative;
    margin-bottom: 64px;
}

.navbar-brand {
    margin-bottom: 10px;
}

.navbar-brand:hover {
    color: $color-main;
}

.logo:first-child {
    margin-right: 0;
}

.logo {
    margin-right: 5rem;
}

.logo:last-child {
    margin-right: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 2rem 0;
}

.container {
    align-items: center;
}

.opensans-light {
    font-family: $font-family;
    font-weight: $font-light;
}

.opensans-regular {
    font-family: $font-family;
    font-weight: $font-regular;
}

.opensans-semi-bold {
    font-family: $font-family;
    font-weight: $font-semi-bold;
}

.opensans-bold {
    font-family: $font-family;
    font-weight: $font-bold;
}

.opensans-extra-bold {
    font-family: $font-family;
    font-weight: $font-extra-bold;
}

.abril-fatface {
    font-family: $font-family-brand;
    font-weight: $font-regular;
}

.btn {
    font-family: $font-family;
    font-weight: $font-light;
}

// Animations
@keyframes slideInFromTop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .footer {
        position: relative;
        margin-top: 24px;
    }
}