$font-family-base: 'Open Sans', sans-serif;

$theme-colors: (
  "primary": #000000,
  "accent": #000000
);

@import "../bootstrap/scss/bootstrap.scss";

$font-family: 'Open Sans', sans-serif;
$font-family-brand: 'Abril Fatface', cursive;
$font-family-alt: 'Poppins', sans-serif;
$font-family-alt-2: 'Noto Sans JP', sans-serif;
$font-family-brand-2: 'Playfair Display', serif;
$font-family-header: 'Roboto Mono', sans-serif;
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// Class names
$poppins: 'poppins';
$opensans: 'opensans';

// Colors
$primary-color: #501B1D;
$secondary-accent-color: #f0f7ff;
$tertiary-accent-color: #0e2f54;
$color-main: #707070;

%subtitle {
    opacity: 0.8;
    font-size: 72px;
    font-weight: $font-light;
}

%subtitle-alt {
    color: black;
    font-size: 72px;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: $font-family-alt;
    font-weight: $font-regular;
    height: 100%;
    width: 100%;
}

.image {
    display: block;
    object-fit: cover;
    width: 500px;
    height: 500px;
}

.title-bar {
    height: 40px;
    background-color: black;
}

.brand {
    h1 {
        font-weight: $font-semibold;
        font-size: 80px;
    }
}

.heading {
    h3 {
        font-size: 56px;
    }
}

.footer {
    height: 120px;
}

.subtitle-text {
    @extend %subtitle;
    font-size: 40px;
    padding-left: .5rem;
}

.section-title {
    @extend %subtitle;
}

.section-title-alt {
    @extend %subtitle-alt;
}

.section-subtitle {
    @extend %subtitle;
    font-size: 60px;
}

.site-title {
    font-family: $font-family-brand-2;
    font-weight: $font-bold;
    opacity: 1;
}

.site-title:hover {
    opacity: 0.7;
}

@media(max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    .container {
        padding: 0 4em;
    }

    .brand {
        h1 {
            font-weight: $font-semibold;
            font-size: 40px;
        }
    }

    .card {
        margin-bottom: 4em;
    }

    #last-card {
        margin-bottom: 1em;
    }

    .image {
        display: none;
    }
}